.movie {

}
.movie .title {
    font-size: 18px;
}
.movie .title.empty-title {
    width: 185px;
    height: 18px;
    background: lightgrey;
    border: 1px solid lightsalmon;
}
.movie .poster.empty-poster {
    width: 185px;
    height: 278px;
    background: lightgrey;
    border: 1px solid lightsalmon;
}