/* variables */
:root {
    --border-radius: 10px;
    --movie-poster-width: 185px;
    --skeleton-right-width: 275px;
    --background-gradient: linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px);
    --skeleton-animation: shine 2s infinite ease-out;
    --movie-summary-width: 500px;
}
@keyframes shine {
    0% {
        background-position: - var(--skeleton-right-width);
    }

    40%, 100% {
        background-position: var(--skeleton-right-width);
    }
}

.movie-summary {
    display: grid;
    grid-template-columns: var(--movie-poster-width) calc(var(--movie-summary-width) - var(--movie-poster-width));
    margin: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.movie-summary .right {
    padding: 20px;
}
.movie-summary .poster {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}
.movie-summary .poster.skeleton-poster {
    width: var(--movie-poster-width);
    height: 278px;
    background-image: var(--background-gradient);
    animation: var(--skeleton-animation);
}
.movie-summary .title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.movie-summary .title .release-year {
    color: grey;
}
.movie-summary .title.skeleton-title {
    width: var(--skeleton-right-width);
    height: 25px;
    background-image: var(--background-gradient);
    animation: var(--skeleton-animation);
}
.movie-summary .overview {
}
.movie-summary .overview.skeleton-overview {
    width: var(--skeleton-right-width);
    height: 135px;
    background-image: var(--background-gradient);
    animation: var(--skeleton-animation);
}